<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post_item.loveIts > 0,
                'list-group-item-danger': post_item.loveIts < 0}">
	<div class="row">
		<div class="col-sm-8"><h4>{{ post_item.title }}</h4></div>
		<div class="col-sm-4 text-right"><h4>{{ post_item.created_at|date:'short' }}</h4></div>
	</div>
	<div class="row">
		<p>
			{{ post_item.content }}			
		</p>
	</div>
	<div class="row">
		<div class="btn-evt">
			<button class="down btn-sm btn-success" (click)="onUp()">Love it!</button>
			<button class="down btn-sm btn-danger" (click)="onDown()">Don't love it!</button>
		</div>
	</div>
</li>
<div class="clear-fix"></div>