<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Lite des posts</h2>
        <ul class="list-group col-sm-8">
          <app-post-list [list]="posts_list"></app-post-list>
        </ul>
    </div>
  </div>
</div>